body{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 10%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  .assignment-list {
    list-style: none;
    padding: 0;
  }
  
  .assignment-item {
    margin-bottom: 10px;
  }
  
  .assignment-item a {
    color: #333;
    text-decoration: none;
  }
  
  .assignment-item a:hover {
    text-decoration: underline;
  }

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

.nav{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}


.assignment {
    background-color: #fff;
    margin: 05%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .body {
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }


pre{
    margin: 0;
}


.code{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
}